<!DOCTYPE html>
<html class="no-js">
<head>
<title>AaP</title>
<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<%= javascript_include_tag "jquery.min.js", "data-turbolinks-track" => true  %>
<%= javascript_include_tag "jquery.textfill.min.js", "data-turbolinks-track" => true  %>
<%= csrf_meta_tags %>

</head>
<body>
<div class="header">
<h1>ASHLEIGH</font> <font color=#f6f6f6>/</font> <font color=#fbe2d4>ALMEIDA</font></h1>


<div class="nav">
<nav>
<img src=http://i58.tinypic.com/2nq5sph.jpg>
</nav>

</div>


<div class="sidebar">
<div class="nav">
<nav>
<img style="position: absolute" src=http://i58.tinypic.com/33aqv0n.png>
</nav>
<div class="sidenav" style='width:100px;height:50px'>
<a href=#>ABOUT</a> <!-- <img src=http://i57.tinypic.com/34inz3o.png> --> <p>
<a href=#>WORK</a> <!-- <img src=http://i61.tinypic.com/291km10.png><p> --> <p>
<a href=#>CONTACT</a><!--  <img src=http://i62.tinypic.com/65py6r.png><p> --><p>
<!-- <a href=#>SOCIAL</a> <img src=http://i62.tinypic.com/347h4cy.png> -->

</div>

</div>
</div>
</div>
</div>
</div>



<%= yield %>



</body>
</html>
